@media (max-width: 1200px) {
    .first-section
    .second-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .left-div-title{
        font-size: 50px;
        line-height: 48px;
    }
}
@media (max-width:990px) {
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;
    }
    .left-block-p {
        font-size: 20px;
    }
    
    .image1 {
        max-width: 501px;
        margin-left: 50px;
    }
}
@media (max-width: 900px) {
    .block,
    .bottom-block {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .content-block1:nth-child(1),
    .content-block1:nth-child(2),
    .content-block1:nth-child(3),
    .content-block2:nth-child(1),
    .content-block2:nth-child(2),
    .content-block2:nth-child(3) {
        margin-bottom: 30px;

    }
}
@media (max-width:750px) {
    .first-section-block {
        margin-right:auto;
        margin-left: auto;
    }
    .sec-sec-p {
        flex-wrap:wrap;
        justify-content: center;
    }
}
@media (max-width:500px) {
    .article {
        margin-left: auto;
        margin-right: auto;
    }
}
